{% extends 'base.html.twig' %}

{% block title %}Accueil - Liste des formations{% endblock %}

{% block body %}
    <h3>Formations</h3>

    <table id="formation" class="{{ table }}">
        <thead>
            <th>TITRE</th>
        </thead>

        {% for formation in formations %}
            <tbody>
                <td>{{ formation.titre }}</td>
            </tbody>
        {% endfor %}
    </table>

    <h3><a> Session </a></h3>
    
    <table id="session">
        <thead>
            <th>INTITULE</th>
            <th>NOMBRE DE PLACE</th>
            <th>DATE DEBUT</th>
            <TH>DATE FIN</TH>
        </thead>
        <tbody>
            {% for session in sessions %}
                <tr>
                    <td>{{ session.intitule }}</td>
                    <td>{{ session.nbPlaces }}</td>
                    <td>{{ session.dateDebut|date('d/m/Y') }}</td>
                    <td>{{ session.dateFin|date('d/m/Y') }}</td>
                    {#<td><a href="{{ path('edit') }}">Modifier</a></td>#}
                    <td>X suprimer</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
