{% extends 'base.html.twig' %}

{% block title %}Fiche de {{ session }}{% endblock %}

{% block body %}
    {% if session %}
        <h1>{{ session }}</h1>

        <p>Dates : {{ session.dateDebut | date("d/m/Y") }} - {{ session.dateFin | date("d/m/Y") }}</p>

        <p>Nombre de places restantes : {{ session.nbPlaces }}</p>

        <p>Domaine : {{ session.formation }}</p>

        <p>Lieu : {{ session.lieu }}</p>

        <a href="{{ path('index') }}">Retour à la liste des sessions</a>
    {% else %}
        <p>Cette session n'existe pas.</p>
    {% endif %}
{% endblock %}
