<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <title>{% block title %} ElanSession {% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ fontawesome }}">
            <link rel="stylesheet" href="{{ asset('css/w3.css') }}">
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% endblock %}
    </head>

    <body>
        <nav class="w3-bar w3-blue w3-mobile">
            <a href="{{ path('index') }}" class="{{ navitem }}">ElanSession</a>

            {% if app.user %}
                <a href="#" class="{{ navitem }}">Bienvenue {{ app.user.email }}</a>
            {% endif %}

            {% if app.user and is_granted('ROLE_ADMIN') %}
                <a href="{{ path('stagiaires_index') }}" class="{{ navitem }}">Stagiaires</a>
            {% endif %}

            {% if app.user %}
                <a href="{{ path('logout') }}" class="{{ navitem }}">Déconnexion</a>
            {% else %}
                <a href="{{ path('login') }}" class="{{ navitem }}">Connexion</a>
            {% endif %}
        </nav>

        <main class="w3-container">
            <section id="flash-messages">
                {% for message in app.flashes("error") %}
                    <div class="{{ panel }} w3-red">
                        <span onclick="{{ closeSnippet }}" class="{{ closeBtn }}">&times;</span>

                        <p>{{ message }}</p>
                    </div>
                {% endfor %}

                {% for message in app.flashes("success") %}
                    <div class="{{ panel }} w3-green">
                        <span onclick="{{ closeSnippet }}" class="{{ closeBtn }}">&times;</span>

                        <p>{{ message }}</p>
                    </div>
                {% endfor %}
            </section>

            {% block body %}{% endblock %}
        </main>

        <footer class="w3-container w3-blue w3-margin-top">
            <p>ELAN FORMATION &copy; {{ "now" | date('Y') }} - Antoine Ziani - Lucien Hamm</p>
        </footer>

        {% block javascripts %}{% endblock %}
    </body>
</html>
